@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;800&display=swap');

/* Anda bisa menambahkan custom CSS lain di sini jika diperlukan */